.disk-1 {
  width: 75px;
  background: gold;
}

.disk-2 {
  width: 100px;
  background: red;

}

.disk-3 {
  width: 125px;
  background: green;

}

li {
  list-style: none;
  width: 150px;
  height: 30px;
  margin: 5px auto;
  border-radius: 25px;
}

ul {
  width: 150px;
  border-bottom: 10px solid brown;
  float: left;
  margin: 10px;
  padding: 0;
}

.hanoi {
  width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.toggled {
  background: #ccc;
  border-top-left-radius:  15px;
  border-top-right-radius: 15px;
}

p {
  font-size: 30px;
  font-family: monospace;

}

h1 {
  font-size: 60px;
  font-family: monospace;
}

body {
  text-align: center;
  background: lightgray;
}
